.container {
  max-width: 90%;
  margin: auto;
}

form {
  margin-bottom: 20px;
}

.list-group-item {
  margin-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  height: auto;
  width: auto;
}